* {
    
background-color: black;
margin: 0px;
padding: 0px;
} 
.div{
 margin: 0px;
 padding: 0px;
 
}
img{
    margin: 0;
    padding: 0;
   
    
}
#logo{
    cursor: pointer;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   // height: 100vh;
}
.size{
    
    width: 60vw; 
    height: 60vw; 
}





@media (max-width:2000px){


    .size{
    
    width: 40vw; 
    height: 40vw; 
}
.phoneIcon{
    width: 15vw;
    height: 15vw;
    
}
a{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 45px;
    right: 45px;
    
}
}

@media (max-width:1200px){
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
      //  height: 100vh;
    }

    .size{
    
    width: 50vw; 
    height: 50vw; 
}
.phoneIcon{
    width: 15vw;
    height: 15vw;
    
}
a{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 45px;
    right: 45px;
    
}
}

@media (max-width:600px){
    .center{
        display: flex;
        justify-content: center;
      
        height: 100vh;
    }

    .size{
    
    width: 70vw; 
    height: 70vw; 
}
.phoneIcon{
    width: 25vw;
    height: 25vw;
    
}
a{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 25px;
    right: 25px;
    
}
}